<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="circle" class="com.oraclejava.drawing.model.Circle">
		<property name="name" value="보름달"></property>
	</bean>

	<bean id="triangle" class="com.oraclejava.drawing.model.Triangle">
		<property name="name" value="삼김"></property>
	</bean>

	<bean id="service" class="com.oraclejava.drawing.service.ShapeService">
		<property name="circle" ref="circle"></property>
		<property name="triangle" ref="triangle"></property>
	</bean>

</beans>
